@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0px;
    padding: 0PX;
    box-sizing: border-box;
}
/* p {
    display: inline-block;
    letter-spacing: 1PX;
    word-spacing: 5PX;

}
div {
    display: inline-block;
    overflow: hidden auto;
    background-color: aquamarine;
    height:100px;
    

} */
 /* nav{
    margin-top: 50px;
    position: sticky;
    z-index: 999999;
    width :100%;
    height: 100px;
    background-color: brown;
top: 0px;
 }
 body{
    height: 1000px;
 }
 .parent img{
    width: 100vw;
    height: 500px;
    position: absolute;
    z-index: 5;
 }
 .parent{
    position: relative;
 }
 .child{
    position: absolute;
    height: 100%;
    width: 100%;
 }
 .text{
    
    position: absolute;
    z-index: 10;
    color: aliceblue;
 }
 .pa{
    top: 250px;
     
    position: absolute;
    z-index: 10;
    color: aliceblue;
 } */
  .child{
    height: 200px;
    width: 350px;

  }
  .child:nth-child(1){
    background-color: blue;
  }
  .child:nth-child(2){
    background-color: cadetblue;

  }
  .child:nth-child(3){
    background-color: aqua;
  }

  .child:nth-child(4){
    background-color: blue;
  }
  .child:nth-child(5){
    background-color: cadetblue;

  }
  .child:nth-child(6){
    background-color: aqua;
   } .parent{
    background-color: darkgrey;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}