
.container{
    height: 100vh;
    width:100vw;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: 
    "one two two seven"
    "one three four eight"
    "one five six eight";
}